/*
* Truncate Text
the mixin is used for shortening long captions
overflowing text is replaced by "..."
*/
@mixin truncateText($overflow: ellipsis) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: $overflow; // values are: clip, ellipsis, or a string
}
